.wrapper {
    border: 1px solid #efefef;
    padding: 30px;
}
.password__title {
    font-size: 24px;
    color: #222222;
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-weight: 500;
}
.single-input-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}
.single-input-item .required {
    font-weight: 500;
}
.single-input-item input {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #efefef;
    font-size: 14px;
}
.single-item-button {
    width: 20%;
}
.btn-color {
    background-color:#00c4cc;
    transition: all 0.4 ease;
}
.single-input-item button:hover {
    background-color: #222;
    color: #FFF;
}