.wrapper {
    border: 1px solid #efefef;
    padding: 30px;
}
.order__title {
    font-size: 24px;
    color: #222222;
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-weight: 500;
}
.wrapper th {
    color: #222222;
    padding: 10px;
    font-weight: 500;
    background-color: #f8f8f8;
    border-color: #efefef;
    border-bottom: 0;
}
.btn-color {
    background-color:#00c4cc;
    transition: all 0.4 ease;
}
.btn-color:hover {
    background-color: #222;
    color: #fff;
}