.review_thumb {
    min-width: 80px;
}
.review_details {
    border: 1px solid #ddd;
    margin-left: 26px;
    padding: 10px 20px;
    position: relative;
    border-radius: 3px;
}
.review_details:before {
    background: #ffffff;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    content: '';
    display: block;
    height: 10px;
    left: -6px;
    position: absolute;
    top: 10px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
}
.title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}
.review-title-date span {
    font-weight: 300;
    font-size: 14px;
    margin-left: 10px;
}
.review_details p {
    font-size: 14px;
    color: #535353;
}
.rating-title {
    font-size: 18px;
    font-weight: 500;
}
.btn {
    font-size: 15px;
    padding: 14px 30px;
    border-radius: 3px;
    border: 1px solid transparent;
    line-height: 1;
}
.comments-reply-area label {
    display: block;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 1.7;
    color: #555555;
}
.comment-form-comment textarea {
    height: 140px;
    width: 100%;
    border: 1px solid #ddd;
    padding: 0 10px;
}