.wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    bottom: 0;
    background-color: rgba(0, 0 ,0 , 0.2)
}
.quick-view {
    background-color: #FFF;
    width: 80vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;  
    z-index: 999;
    transform: translate(-50%, -50%)
}
.quick-view-row {
    position: relative;
}

.quick-view-item img {
    width: 100%;
    display: block;
}
.close {
    position: absolute;
    top: 10px;
    left: auto;
    display: flex;
    justify-content: right;
}
.close__icon {
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
}
.product__form {
    display: flex;
    align-items: center;
    justify-content: left;
}
.product__price {
    font-size: 1.7rem;
    line-height: 1;
    color: #222222;
    padding: 20px 0;
}
.content__new {
    color: #00c4cc!important;
    font-weight: 700;
}

.product__form p {
    margin-right: 20px;
}
.product__content p {
    line-height: 1.7;
    color: #555555;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0px;
    margin-right: 20px;
}
.product__add-to-cart button {
    font-size: 15px;
    padding: 14px 30px;
    border-radius: 3px;
    border: 1px solid transparent;
    line-height: 1.2;
    transition: all 0.3s ease-in-out;
    margin: 20px 0;
    font-weight: 500;
}

.product__actions-link:first-child {
    margin-right: 25px;
}
.product__actions-link{
    transition: all 0.5s ease 0s;
    text-decoration: none;
    background-color: #ffffff;
    color: #000;
    font-size: 1rem;
}
.product__actions-icon {
    font-size: 22px;
    color: #222222;
    margin-right: 10px;
    transition: all 0.5s ease 0s;
}