.wrapper {
    background-color: #FFF;
    position: relative;
    padding: 40px 0;
}
.featured__box {
    padding: 40px 0;
}
.featured__title {
    color: #222;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: -5px;

}
.pagination {
    position: absolute;
    top: auto;
    left: 50%;
    right: auto;
    bottom: 10px;
    transform: translate(-50%, 0);
}